.head1{
    font-family: Poppins;
    font-style:normal;
    font-weight: 1rem;
    font-size: 400%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: black;
    text-align: center;
    text-shadow: 2rem rem #bbbbbb;;
    }

    .head2{
        font-family: Poppins;
        font-style: normal;
        font-weight: 3 rem;
        font-size: 3 rem;
        padding-top: 3rem;
        padding-bottom: 20rem;
        color: black;
        text-align: center;
        text-shadow: 2rem rem #bbbbbb;
        position: relative; 
        right: 31rem;
        top: 13.5rem;
        z-index: 999;
    }

    body {
        background-color:#56B195;
        position: static;
    
    
    }

    .name{
        padding-top: 3rem;
        padding-bottom: 20rem; 

    }

    .item{
        padding: 2.5rem;
        display: flex;
        font-weight: 20rem;
        font-size: 150%;
      } 
    
      .card1 {
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        width: 30%;
        height: 50%;
        background-color: white;
        padding-left: 0%;
        float: left;
    }

    .card2 {
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        width:  60%;
        height: 50%;
        background-color: white;
        padding-left: 0%;
        float: right;
    }

    .BackButton{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border: 1px solid black;
        color: black;
        font-size: 16px;
        text-align: center;
        height: 40px;
        width: 80px;
    }

    .BackButton:hover{
        background-color: black;
        color: white;
    }