h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 20;
    font-size: 3rem;
    
    padding-top: 3rem;
    padding-bottom: 20rem;
    color: white;
    text-align: center;
    
    text-shadow: 2rem rem #bbbbbb;;
    }

    li {
        margin-top: 10rem; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 10rem;
        display: flex;
        align-items: center;
        /*border-width: 2ex 1.25ex 0.5ex;*/
        height: 2rem;
        width: 13rem;
        position: relative; 
        right: 6.5rem;
        top: 8rem;
      }
        
       

      #box1 {
        padding-top: 0rem;
        width: 3rem;
        height: 30rem;
        border: 10rem solid whitesmoke;
        margin: 5rem;
        text-align: center;
        background: transparent;
        vertical-align: top;
        display: table-cell;
        padding: 8px 0 0;
        position: fixed;
        top: 25%;
        left: 25%;
        margin-top: -50px;
        margin-left: -300px;
        border-radius: 2rem;
    }


    body {
        background-color:#56B195;
        position: static;
    
    
    }

    .name{
        padding-top: 3rem;
        padding-bottom: 20rem; 
    }