.h1Title {

    position: static;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: white;

    text-align: center;
    
    left: 29rem;
    
    text-shadow: 2px 2px #bbbbbb;;
    }
    
    
    
    .welcome-page {

        width: 100%;
        height: 100%;
        background-color:#56B195;
        position: fixed;
    
    
    }
    
    /*.img1 {
    
        position: fixed;
        left: 28rem;
    
        bottom: 24rem;
    
    
    
    
        width: 299px;
        height: 320px;
    
    }*/

    .img1 {
    
        position: relative;
        left: 29rem;
    
        bottom: 0rem;
    
    
    
    
        width: 299px;
        height: 320px;
    
    }
    
    
    /*.img2 {

        position: relative;
    
        width: 299px;
        height: 320px;
        transform: scalex(-1);
    
        bottom: 24rem;
    
        position: fixed;
        right: 390px;
    }*/
    

    .img2 {

        position: relative;
    
        width: 299px;
        height: 320px;
        transform: scalex(-1);
        bottom: 22rem;
        left: 50rem;

    }
    
    
    .pClass {
        position: relative;
    
    
        font-family: Poppins;
        font-style: normal;
        left: 31rem;
        right: 19rem;
        bottom: 0rem;
        top: 4rem;
    
        font-weight: 400;
    
        font-size: 27px;
    
        color: white;
    }
    
    .buttonClass1 button {
        position: fixed;
        left: 37rem;
        top: 40rem;
        font-size: large;
    
        width: 350px;
        height: 115px;
        border-radius: 20px; 
    
        background-color: black;
        
    }

    .buttonClass1:hover button{
        
        background-color: rgb(75, 78, 78);
    } 